<html>
  <head>
    <title>Details</title>
  </head>
  <body>
    <div class="message">
      <p class="user"><%= message.username %>:</p>
      <p class="text"><%= message.text %> ||</p>
      <p class="time"><%= message.added %></p>
      <p><a href="/">Home</a></p>
    </div>
  </body>
</html>
